.addbtnContainer{
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: #30334F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addbtnImg{
    width: 15px;
    height: 15px;
}