


.itemCardContainer{
    width: 50%;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation : 1s fadeIn;
    
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}



.itemImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemImg{
    padding: 10px;
    width: 100px;
    height: 100px;
}


.itemTitle{
    font-size: 1.2rem;
    height: 24px;
}

.itemTagContainer{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    height: 20px;
}

.itemTag{
    background-color: hotpink;
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}


.itemPriceAdd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}