.container{
    width: 90%;
    margin: 5% 5% 0 5%;
    display: flex;
    flex-shrink: 0;
    gap: 15px;
    overflow-y: scroll;
}

.moodContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100px;
   min-width: 70px;
   border-radius: 5px;
   padding: 10px;
}


.moodImg{
    width: 25px;
    height: 25px;
}