.searchBox{
    display: flex;
    gap: 10px;
    background-color: #e9ebef;
    padding: 5%;
    margin: 5% 5% 0 5%;
    border-radius: 15px;
    height: 20%;
   
  }
  
  .searchInput{
      background-color: #e9ebef;
      font-family: 'Roboto', sans-serif;
      width: 100%;
      outline: none;
      border: none;
  }
  
  
  
  .searchIcon{
      width: 20px;
      height: 20px;
  }