 

 .container{
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin: 5% 5% 0 5%;
     max-width: 90%;
     height: 140px;
     overflow-y: hidden;
     
 }

 .container::-webkit-scrollbar {
    display: none;
  }

 .slider{
    display: flex;
    transition: ease 1000ms;
    height: 125px;
 }

 .sliderBtnsContainer{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 15px;
     gap: 5px;
 }

 .sliderbuttons{
     width: 5px;
     height: 5px;
     display: inline-block;
     border-radius: 50%;
     background-color: grey;
     cursor: pointer;
 }

 .sliderbuttonsactive{
    width: 10px;
    height: 5px;
    display: inline-block;
    border-radius: 20%;
    background-color: grey;
    cursor: pointer;
}

 .itemContainer{
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1%;
    border-radius: 15px;
    
 }

 .itemDesc{
     padding: 15px;
     color: white;
     width: 60%;
     font-size: 0.8rem;
 }

 .itemImgContainer{
     height: 100%;
     width: 40%;
     position: relative;
 }

 .itemImg{
     top: 15%;
     right: 0%;
     position: absolute;
     width: 115px;
     height: 115px;
 }